
{{# partial "titulo" }}
    <title>Items de egreso {{id}}</title>
{{/partial}}
{{# partial "contenido"}}
        <div>
            <h1 class="bienvenida">Items del egreso {{id}}</h1>
        </div>

        <div class="egreso-box">
                          <h2>Lista de items</h2>
    
          		<table class= "table table-hover">
			<tr>
								<th scope="col"> descripcion </th>
								<th scope="col"> monto </th>
												<th scope="col"> moneda </th>
								
				
				
			</tr>
			{{#each items}}
			<tr>
				<td> {{ descripcion }} </td>
								<td> {{ monto }} </td>
								<td> {{ moneda.symbol }} </td>
				
				
			</tr>
			{{/each}}
			</table>
		  <h2>Cargar nuevo item </h1>
          <h3>Complete el formulario con la información solicitada</h1>
          <form method="POST" name="egresos/{{id}}/item">
            <h2>Item:</h2>
            <label for="descripcion_item">Descripcion del item</label>
            <input type="text" name="descripcion_item" placeholder="Descripcion del item" class ="form-control">
            <label for="costo_item">Costo del item</label>
            <input type="text" name="costo_item" placeholder="Costo del item" class ="form-control"><br>
            <h2>Moneda:</h2>
                 <label for="id_moneda">Id de monenda</label>
            <input type="text" name="id_moneda" placeholder="Id de Moneda" class ="form-control">
                            <label for="descripcion_moneda">Descripcion de monenda</label>
            <input type="text" name="descripcion_moneda" placeholder="Descripcion de Moneda" class ="form-control">
                       <label for="simbolo_moneda">Simbolo de monenda</label>
            <input type="text" name="simbolo_moneda" placeholder="Simbolo de Moneda" class ="form-control">
                 <input type="submit" value="Confirmar"> <br>
            
          </form>
        </div>
{{/partial}}
{{> layout.hbs }}
