<html>
	<body>
		<form action = /entidades-bases/ method = "get">
		<input type = "textbox" size = "50" name = "nombre_categoria" placeholder = "Categoria..."/ required>
		<button type="submit"><i class="fa fa-search"></i></button>
		</form>
		<table>
			<tr>
				<th> ID </th>
				<th> Nombre ficticio </th>
				<th> Descripcion </th>
				<th> ID juridica asociada </th>
				<th> Categoria </th>
			</tr>
			{{#each bases}}
			<tr>
				<td> {{ id }} </td>
				<td> {{ nombreFicticio }} </td>
				<td> {{ descripcion }} </td>
				<td> {{ id_juridica }} </td>
				<td> {{ categoria.nombre }} </td>
			</tr>
			{{/each}}
		</table>
		
	</body>
</html>