<html>
	<body>
		
		<table>
			<tr>
				<th> ID </th>
				<th> ID organización </th>
				<th> Nombre ficticio </th>
				<th> Descripcion </th>
				<th> ID juridica asociada </th>
				<th> Categoria </th>
			</tr>
			{{#each bases}}
			<tr>
				<td> {{ id }} </td>
				<td> {{ id_organizacion }} </td>
				<td> {{ nombreFicticio }} </td>
				<td> {{ descripcion }} </td>
				<td> {{ id_juridica }} </td>
				<td> {{ nombre }} </td>
			</tr>
			{{/each}}
		</table>
		
	</body>
</html>