<html>
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    <title>Cargar Item</title>
    <link rel="stylesheet" href="form-cargar-egreso/css/master.css">
    </head>
    <body>
        <div class="egreso-title">
            <h1>Welcome Home Ashen One!</h1>
        </div>

        <div class="egreso-box">
                  <h1>Lista de egresos</h1>
    
          		<table>
			<tr>
				<th> Tipo Documento </th>
				<th> Nro Documento </th>
				<th> Medio de pago </th>
				<th> Id Medio </th>
				<th> Nombre proveedor </th>
				<th> Identificador proveedor </th>
				<th> Estado Validacion </th>
				<th> Agregar Item </th>
			</tr>
			{{#each todosLosEgresos}}
			<tr>
				<td> {{ documentoComercial.tipo }} </td>
				<td> {{ documentoComercial.numeroDocumento }} </td>
				<td> {{ medioDePago.tipo }} </td>
				<td> {{ medioDePago.identificador }} </td>
				<td> {{ proveedor.nombreProveedor }} </td>
				<td> {{ proveedor.identificador }} </td>
				<td> {{ estadoValidacion}} </td>
				<td> <a href="/egresos/{{ id }}/item">Agregar item</a> </td>
			</tr>
			{{/each}}
			</table>
			
          <form method="POST" name="item/">
            
          </form>
        </div>
      </body>
    </html>
</html>