<html>
	<body>
		<form action = /entidades-juridicas/ method = "get">
			<input type = "textbox" size = "50" name = "nombre_categoria" placeholder = "Categoria..."/ required>
			 <button type="submit"><i class="fa fa-search"></i></button>
		</form>
		<table>
			<tr>
				<th> ID </th>
				<th> Nombre ficticio </th>
				<th> Razon social </th>
				<th> CUIT </th>
				<th> Codigo inscripcion </th>
				<th> Tipo de entidad juridica </th>
				<th> Categoria </th>
			</tr>
			{{#each juridicas}}
			<tr>
				<td> {{ id }} </td>
				<td> {{ nombreFicticio}} </td>
				<td> {{ razonSocial}} </td>
				<td> {{ cuit }} </td>
				<th> {{ codInscripcion }} </th>
				<td> {{ tipoEntidadJuridica }} </td>
				<td> {{ categoria.nombre }} </td>
			</tr>
			{{/each}}
		</table>
		
	</body>
</html>