{{# partial "titulo" }}
    <title>{{ nombreFicticio }}</title>
{{/partial}}

{{# partial "contenido" }}
	
		<table class="table table-hover">
			<thead class = "thead-dark">
				<tr>
					<th scope="col">Descripcion</th>
					<th scope="col">Categoria</th>
					<th scope="col"> ID organizacion </th>
					<th scope="col"> Nombre juridica </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> {{ descripcion }} </td>
					<td> {{ categoria.nombre }} </td>
					<td> {{ idOrg }} </td>
					<td> <a href="/entidades-juridicas/{{ idJuridica }}" style="color:#0000EE;"> {{ nombreJuridica }} </td>
				</tr>
			</tbody>
		</table>
		<h3>Cambiar categoria de la entidad</h3>
		<form class="form-inline" method="POST" action="/entidades">
  			<i class="fas fa-search" aria-hidden="true"></i>
  			<input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Categoria nueva..." aria-label="categoria" name="categoria">
		</form>

{{/partial}}

{{> layout.hbs }}