{{# partial "titulo" }}
    <title>{{ nombreFicticio }}</title>
{{/partial}}

{{# partial "contenido" }}
		<h1> {{ nombreFicticio }} </h1> <br>
		<table class="table table-hover">
			<thead class = "thead-dark">
				<tr>
					<th scope="col">Razon social</th>
					<th scope="col">Categoria</th>
					<th scope="col">Tipo de jurídica</th>
					<th scope="col">Codigo de inscripcion</th>
					<th scope="col"> Cuit</th>
					<th scope="col">Direccion postal</th>
					<th scope="col"> ID organizacion </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> {{ razonSocial }} </td>
					<td> {{ categoria.nombre }} </td>
					<td> {{ tipoEntidadJuridica }} </td>
					<td> {{ codInscripcion }} </td>
					<td> {{ cuit }} </td>
					<td> {{ direccionPostal }} </td>
					<td> {{ idOrg }} </td>
				</tr>
			</tbody>
		</table> <br>
		<h3>Cambiar categoria de la entidad</h3>
		<form class="form-inline" method="POST" action="/entidades-juridicas/{{ id }}/categoria/{{ categoria.id }}">
  			<i class="fas fa-search" aria-hidden="true"></i>
  			<input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Categoria nueva..." aria-label="categoria" name="categoria">
		</form>

{{/partial}}

{{> layout.hbs }}