{{# partial "titulo" }}
    <title>Ver entidades</title>
{{/partial}}

{{# partial "contenido" }}
<form class="form-inline" method="GET" action="/entidades">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Categoria..." aria-label="categoria" name="categoria">
</form>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Nombre ficticio</th>
				<th scope="col">Categoria</th>
				<th scope="col">Tipo de entidad</th>
				<th scope="col"> Detalles</th>
			</tr>
		</thead>
		<tbody>
			{{#each juridicas}}
				<tr>
					<td> {{ nombreFicticio }} </td>
					<td> {{ categoria.nombre }} </td>
					<td> Juridica </td>
					<td><a href="/entidades-juridicas/{{ id }}" style="color:#0000EE;">Ver</a></td>
				</tr>
			{{/each}}
			{{#each bases}}
				<tr>
					<td> {{ nombreFicticio }} </td>
					<td> {{ categoria.nombre }} </td>
					<td> Base </td>
					<td><a href="/entidades-bases/{{ id }}" style="color:#0000EE;"> Ver </a></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{/partial}}

{{> layout.hbs }}
